* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  background: RGB(26, 26, 26);
}

.fullContainer {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.flexCenterJustify {
  display: flex;
  justify-content: center;
}

.keyContainer {}

.keyWrapper {
  width: 100px;
  height: 100px;
  background: white;
  margin-top: 5rem;
  border-radius: 4px;
  font-size: 4rem;
  align-items: center;
  border: 3px solid rgb(216, 0, 0);
}