* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

#app {
  background: RGB(26, 26, 26);
}

.fullContainer {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.flexCenterJustify {
  display: flex;
  justify-content: center;
}

.keyContainer {}

.keyWrapper {
  width: 100px;
  height: 100px;
  background: white;
  margin-top: 5rem;
  border-radius: 4px;
  font-size: 4rem;
  align-items: center;
  border: 4px solid rgb(255, 234, 4);
}

#my-input {
  border: 1px solid gray;
  border-radius: 5px;
}
.user_info {
  font-size: 2rem;
  padding-top: 2rem;
  gap: 1rem;
}

.main_infos {
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 1rem;
}

.key_info {
  flex-direction: column;
  align-items: center;
}